@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #0b0b0f;
  --foreground: #f5f5f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Se o device estiver em light, adapta automaticamente (opcional, mas corporativo) */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
